/* --------------------------------------------------------------------------
 * Color
 * -------------------------------------------------------------------------- */

$color = {
	background: {
		body: #FFF,
		selection: #7DD1CA
		notes: #FAFAFA
	},
	text: {
		base: #4A4A4A
	}
	table: {
		border: #D9D9D9
		fill: #F2F2F2
		text: #BFBFBF
		selection: #4A90E2
	},
	notes: {
		border: #D8D8D8
	}
}
