/* --------------------------------------------------------------------------
 * Font
 * -------------------------------------------------------------------------- */

$font = {
	sans: "Roboto"\, "Lucida Grand"\, "Helvetica Neue"\, Helvetica\, Arial\, sans-serif,
	serif: 'Roboto Slab'\, "Roboto"\, "Lucida Grand"\, "Helvetica Neue"\, Helvetica\, Arial\, sans-serif
}
