/*! --------------------------------------------------------------------------
 * Notes
 *
 * note
 * note_head
 * note_head_btn_add
 * note_list
 * note_list_item
 * note_list_item_label
 * note_list_item_edit
 * note_list_item_btn_del
 * note_foot
 * note_foot_btn_today
 * note_foot_count
 *
 * -------------------------------------------------------------------------- */

@require "../global/_all"

#note
	box-sizing: border-box
	width: 35%
	height: 100%
	float: right
	background-color: $color.background.notes
	border: 1px dotted $color.notes.border;
