/*! ==========================================================================
 * Facet StyleSheet
 * "Stay Frosty"
 * 
 * version:	0.1.0
 * author:	Franky Martinez <frankymartz@gmail.com>
 * ========================================================================== */

// Base
